/***************
* count通用样式
****************/
body{
	padding-top:50px;
}
.content{
	margin-bottom:40px;
}

/***********
* count.jsp
***********/
.count-content{
	margin:30px 50px;
}
.count-content>h3{
	padding-bottom:10px;
	border-bottom:1px solid #eee;
}